//  COLORS
$color-primary: #ffffff;
$color-primary-80: rgba(255, 255, 255, 0.8);
$color-primary-50: rgba(255, 255, 255, 0.5);
$color-primary-30: rgba(255, 255, 255, 0.3);
$color-primary-20: rgba(255, 255, 255, 0.2);
$color-error: #ff3737;
$color-warning-t-2: #ffc238;
$color-warning-t-1: #ffe566;
$color-icon: #98caff;
$color-border-idle: rgba(44, 146, 255, 0.5);
$color-border-desable: rgba(44, 146, 255, 0.2);
$color-bg-1: #001429;
$color-bg-2: #4c6b8d;
$color-violet: #974cff;
$color-orange: #ed9311;
$color-yellow: #ffe26f;
$color-cyan: #5dcdff;
$color-black: #202020;
$color-magenta: #cd00bf;
$color-icon-fill: #73b7ff;
$color-primary-fill: #d8ebff;
$color-bg-3: #061e38;
$btn-idle-2: rgba(135, 193, 255, 0.3);
$color-violet-light: #ce8cff;
$color-success: #0dd600;
$color-green: #10ff00;
$color-error-light: #ffb5b5;
$color-success-light: #bbffb6;
