.sub-menu-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 21%;
  left: 52%;
  height: 30%;
  width: 58%;
  z-index: 1;
}
.main-buttons-container {
  position: absolute;
  top: 61.8%;
  height: 112%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 73.6%;
  z-index: 1;
}
